body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

body>* {
    max-width: 500px;
    width: 100%;
}

h1 {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
}

input[type="text"]:focus {
    border-color: #007bff;
}

#addBtn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    /* Синий цвет */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 20px;
}

#addBtn:hover {
    background-color: #0056b3;
}

#taskList {
    list-style: none;
    padding: 0;
    margin: 0;
}

#taskList li {
    background-color: white;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    word-break: break-all;
}

#taskList li button {
    background-color: #dc3545;
    /* Красный цвет */
    color: white;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 14px;
    flex-shrink: 0;
    transition: background-color 0.3s;
}

#taskList li button:hover {
    background-color: #c82333;
}
